.image-container-exp {
  margin: 10px;
}

.image-container {
  margin: 10px;
  width: 25vw;
  height: 25vw;
  overflow: hidden;
}

@media (max-width: 600px) {
  .image-container {
    margin: 2px;
    width: 40vw;
    height: 40vw;
    overflow: hidden;
  }
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.experiment-container {
  text-align: center;
  padding: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .experiment-container {
    text-align: center;
    padding: 1px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .inner-button-container,
  .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
  }

}

@media (max-width: 600px) {
  .button-container {
    justify-content: center;
  }
}

.SubHeaderExp {
  font-size: 28px;
  text-align: center;
  color: var(--deeper-gray-color);
  margin: 0;
  padding: 10px 15px;
  background-color: var(--pale-cyan);
  border-radius: 10px;
  border-width: thin;
  border: solid;
}


.BlueSubHeader {
  font-size: 30px;
  text-align: center;
  color: var(--deep-blue);
  padding: 20px 10px 0px 10px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .SubHeaderExp {
    font-size: 22px;
  }

  .BlueSubHeader {
    font-size: 25px;
    padding: 10px 10px;
  }
}

.Center {
  text-align: center;
  color: var(--deeper-gray-color);
  padding: 1vw;
}

.SubmitButton {
  padding: 10px 15px;
  background-color: var(--deep-red);
  color: var(--platinum);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  margin: 10px;
}

@media (max-width: 600px) {
  .SubmitButton {
    width: 100%;
    padding: 12px 20px;
    font-size: 10px;
    overflow-wrap: break-word;
    text-align: center;
    margin: 0 auto;
    min-width: unset;
  }
}


.ThankYou {
  text-align: center;
  padding: 10vw;
  font-size: 6vw;
  color: var(--deep-red);
  font-weight: bold;
}

@media (max-width: 600px) {
  .ThankYou {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 10vw;
    font-size: 10vw;
  }
}

.outer-container {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
}

progress {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  background-color: #eee;
  color: #00695c;
  overflow: hidden;
}

.progress-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.progress-bar-inner-container {
  margin-top: 5px;
  position: relative;
  width: 80%;
  height: 20px;
}

.progress-bar-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: var(--platinum);
  font-weight: bold;
  line-height: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  max-width: 100%;
}

.grid-item {
  font-size: 18px;
  color: black;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  display: block;
  padding: 5px;
  border-width: thin;
}

@media (max-width: 600px) {
  .grid-item {
    font-size: 15px;
  }
}

.highlight-word {
  font-weight: bold;
  color: coral;
}

.word-selector-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 95vw;
}

.next-step-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.StepButton {
  padding: 10px 15px;
  background-color: var(--deep-red);
  color: var(--platinum);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  margin: 10px;
  width: 120px;
}

@media (max-width: 600px) {
  .StepButton {
    padding: 12px 20px;
    font-size: 10px;
    overflow-wrap: break-word;
    text-align: center;
    margin: 0 auto;
  }
}

.step-buttons-container {
  max-width: 600px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

@media (max-width: 600px) {
  .step-buttons-container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.experiment-button {
  font-weight: bold;
  color: black;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  display: block;
  padding: 5px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.word-selector-instruction {
  font-size: 20px;
}

@media (max-width: 600px) {
  .word-selector-instruction {
    font-size: 17px;
  }
}