.Header h1 {
  font-size: calc(25px + 2vw);
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: var(--deep-blue);
  margin-bottom: 1px;
  margin: 0;
}

.SubHeader {
  font-size: 28px;
  text-align: center;
  color: var(--deeper-gray-color);
  margin: 0;
  padding: 5px 5px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .SubHeader {
    font-size: 16px;
  }
}

.SubSubHeader {
  font-size: calc(4px + 2vw);
  text-align: center;
  color: var(--deeper-gray-color);
  font-weight: bold;
}

.Center {
  text-align: center;
  display: flex;
  justify-content: center;
}

.gray {
  color: var(--gray-color);
}

.yellow {
  color: var(--yellow-color);
}

.SubmitButton {
  padding: 10px 15px;
  background-color: var(--deep-red);
  color: var(--platinum);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

@media (max-width: 600px) {
  .SubmitButton {
    background-color: var(--deep-red);
    color: var(--platinum);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    max-width: 140px;
    height: 40px;
    font-size: 12px;
    position: relative;
  }
}

.Input {
  color: var(--deeper-gray-color);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  padding: 10px 15px;
  margin: 10px;
  text-align: center;
}

.input-button-container {
  margin: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.button-container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .input-button-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.experiment-explanation {
  font-size: 24px;
  line-height: 1.6;
  color: #333;
  margin: 5px 0;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}

@media (max-width: 600px) {
  .experiment-explanation {
    font-size: 14px;
  }
}

.image-container-home {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

@media (max-width: 600px) {
  .image-container-home img {
    max-width: 200px;
    height: auto;
  }
}

.image-container-home img {
  max-width: 50vw;
  height: auto;
}

.no-margin {
  margin: 0;
}